button{
    border: 5230px;
    background-color: rgb(73, 73, 207);
    border-radius: 60px;
    border-width: 250px;
    width: 100%;
    height: 50px;
}
div{
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  
  li {
    float: inline-start;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
  }